
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">All Bugs</h1>
  </div>
  
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Bug
        <%= link_to '<i class="fa fa-plus"></i> Add New Bug'.html_safe, new_bug_path, class: "btn btn-default pull-right add-btn" %>
      </div>
        <%= render partial: 'bugs'%>
    </div>
  </div>
</div>
